* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
}


.flex {
    display: flex;
    align-items: center;
}

main {
    height: 400px;
    width: 600px;
    background-color: #1B244A;
    color: #EEEEEE;
    margin: 0 auto;
    justify-content: space-evenly;
}

section {
    height: 300px;
    width: 100px;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'Cursed Timer ULiL', sans-serif;  
    gap: 25px;
}


h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    width: 150px;
    height: 40px;
}

.score-box {
    background-color: rgb(14, 13, 13);
    height: 120px;
    width: 155px;
    border-radius: 5px;
    justify-content: center; 
}

p {
    font-size: 90px;
    color: #F94F6D;
    margin-top: 15px;
}

.buttons {
    display: flex;
    gap: 10px;
}

button {
    height: 45px;
    width: 45px;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    background-color: #1B244A;
    color: #9AABD8;
    font-family: 'Cursed Timer ULiL', sans-serif; 
}







